<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'>
  <title>CPU Scheduler Thingie</title>
  <link rel='stylesheet' href='app.css'>
</head>
<body ng-app='os' ng-controller='ProcessListCtrl as ctrl' ng-cloak>
  <form>
    <label for='num_processes'>Num processes:</label>
    <input id='num_processes'
        type='number'
        min='1'
        max='10'
        ng-model='ctrl.num_processes'
        ng-change='ctrl.update_processes()'>

    <label for='dispatch_overhead'>Dispatch overhead:</label>
    <input id='dispatch_overhead' ng-model='ctrl.dispatch_overhead'>

    <a href='#' ng-click='ctrl.clear_chart()'>Reset Gantt chart</a>
  </form>


  <table class='stats'>
    <thead>
      <tr>
        <th>Process</th>
        <th>Arrival Time</th>
        <th>Service Time</th>
        <th>Remaining Time</th>
        <th>Finish Time</th>
        <th>Turnaround Time</th>
        <th>Response Time</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat='process in ctrl.processes'>
        <td>
          {{process.name}}
        </td>

        <td>
          <input type='number' min='0' max='20' ng-model='process.arrival_time'>
        </td>

        <td>
          <input type='number' min='1' max='20' ng-model='process.service_time'>
        </td>

        <td>
          {{process.remaining_time()}}
        </td>

        <td>
          {{process.finish_time()}}
        </td>

        <td>
          {{process.turnaround_time()}}
        </td>

        <td>
          {{process.response_time()}}
        </td>
      </tr>
    </tbody>
  </table>



  <div class='gantt'>

    <div class='tick process-col'>
      <div class='tick-header process-label'>
        Process:
      </div>

      <div
          class='p-tick process-name'
          ng-class-odd="'bg-1'"
          ng-class-even="'bg-2'"
          ng-repeat='process in ctrl.processes'>
        {{process.name}}
      </div>
    </div>

    <div class='tick' ng-repeat='tick in ctrl.ticks track by $index'>
      <div class='tick-header'>
        {{$index}}
      </div>

      <div
          class='p-tick'
          ng-class-odd='"bg-1"'
          ng-class-even='"bg-2"'
          ng-class='{
            "running": process.ticks[$parent.$index] == "R",
            "dispatch": process.ticks[$parent.$index] == "D"
          }'
          ng-repeat='process in ctrl.processes'
          ng-click='ctrl.toggle_process($parent.$index, $index)'>

        <div
            class='arrival'
            ng-show='$parent.$index === process.arrival_time'>
        </div>

        {{process.ticks[$parent.$index]}}
      </div>
    </div>
  </div>

  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js'></script>
  <script src='app.js'></script>
</body>
</html>
